  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: 16pt;
  }

  .update-body {
      width: 1440px;
      height: 1024px;
      background: #FEFFE4;
      margin: auto;
      font-family: 'Ubuntu', sans-serif;
  }

  .tituloPut {
      margin-top: 3vh;
      margin-bottom: 4vh;
      color: #000;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

  .formularioPut {
      border: 12px;
      width: 420px;
      height: 439px;
      margin: auto;
      flex-shrink: 0;
      border-radius: 12px;
      background: #FFF;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding-top: 7vh;
      margin-bottom: 5vh;
  }

  .subtituloPut {
      width: 273px;
      height: 35px;
      flex-shrink: 0;
      color: #000;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: auto;
      margin-bottom: -5vh;
  }

  .formularioPut label {
      color: #000;
      text-align: center;
      font-size: 18px;
      font-weight: 450;
      font-style: normal;
      line-height: normal;
      margin-left: 60px;
  }

  .formularioPut input {
      display: flex;
      width: 304px;
      height: 34px;
      flex-shrink: 0;
      border-radius: 4px;
      border: 1px solid #000;
      background: #FEFFE4;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
      margin: auto;
      font-style: italic;
      font-size: 16px;
      color: #9A9A9A;
  }

  .formularioPut button {
      width: 167px;
      height: 46px;
      border-radius: 4px;
      background: #48A4FA;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin: auto;
      margin-top: -3vh;
      display: flex;
      color: #FFF;
      text-align: center;
      font-family: Ubuntu;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 5px;
      padding-left: 30px;
      padding-top: 8px;
  }

  .tituloLista {
    margin-bottom: 2vh;
    font-size: 24px;
    font-weight: 425;
  }

  #listaProdutos {
      width: 243px;
      height: 38px;
      color: #000;
      font-family: Ubuntu;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

  #listaProdutos .tabelaProdutos tr {
      width: 1332px;
      height: 43px;
      margin: auto;
      border-bottom: 1px solid #000;
      background: #FFF;
      display: flex;
      justify-content: space-around;
  }

  #listaProdutos .tabelaProdutos tr:nth-child(even) {
      width: 1332px;
      height: 43px;
      margin: auto;
      border-bottom: 1px solid #000;
      background: #FFF1C1;
      display: flex;
      justify-content: space-around;
    }
    
    #listaProdutos .tabelaProdutos td {
        width: 179.672px;
        height: 8.500px;
        display: flex;
        text-align: center;
        margin: auto;
        text-align: center;
        line-height: 1.0;
  }